/*FONTS*/

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*GENERAL*/

body {
	font-family: 'League Gothic', 'Open Sans Light', 'Arial', sans-serif;
}

header {
    background: url(../img/bg_header.jpg);
    background-size: cover;
}

.news {
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #1d2f37;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(13,21,27,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(13,21,27,1);
    box-shadow: 0px 1px 0px 0px rgba(13,21,27,1);
    background: rgba(116,80,131,1);
    background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
    background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
}

main {
    background: #f9f9f9;
}

footer {
    background: url(../img/bg_footer.jpg);
    background-size: cover;
}

.headerContent,
.newsContent,
.mainContent,
.footerContent {
    width: 100%;
    margin: 0 auto;
}

/*HEADER*/

.logo {
    display: block;
    width: 151px;
    height: 37px;
    background: url(../img/logo.png) no-repeat;
}

.logo__h1 {
    text-indent: -9999px;
}

.mainMenu__item {
    font-size: 24px;
    text-transform: uppercase;
}

.mainMenu__link {
    color: white;
    text-decoration: none;
}

.mainMenu__link--underline {
    position: relative;
}

.mainMenu__link--underline:after {
    content: '';
    position: absolute;
    top: 31px;
    left: -5px;
    display: block;
    width: 47px;
    height: 2px;
    background: #edbfff;    
}

/*slider*/

.slider {
    width: 100%;
}

.slider__arrowBackwards {
    float: left;
    height: 100%;
    background: url(../img/arrowBackwards.png) no-repeat;
    background-position: center center;
    cursor: pointer;
}

.slider__arrowForward {
    float: right;
    height: 100%;
    background: url(../img/arrowForward.png) no-repeat;
    background-position: center center;
    cursor: pointer;
}

.slider__content {
    float: left;
}

.slider__footer {
    clear: both;
    width: 88px;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    letter-spacing: -1px;
}

.slider__navigation {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background: rgba(105,100,110,0.8);
    cursor: pointer;
}

.slider__navigation:first-child {
    margin-left: 0;
}

.slider__navigation:hover {
    cursor: pointer;
}

.slider__navigation--active:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(212,212,212,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d4d4', GradientType=0 );
}

/*NEWS*/

.article {
    position: relative;
    color: white;
    text-shadow: 1px 1px 1px rgba(15, 21, 24, 1);
}

.article__header {
    font-size: 24px;
}

.article__paragraph {
    overflow: hidden;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.article__link {
    position: absolute;
    display: block;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.article__link:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); 
}