@charset "utf-8";
/* CSS Document */

/*Fonts*/

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pts55f-webfont.eot');
    src: url('../fonts/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts55f-webfont.woff2') format('woff2'),
         url('../fonts/pts55f-webfont.woff') format('woff'),
         url('../fonts/pts55f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pts75f-webfont.eot');
    src: url('../fonts/pts75f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts75f-webfont.woff2') format('woff2'),
         url('../fonts/pts75f-webfont.woff') format('woff'),
         url('../fonts/pts75f-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*Common styles*/

body {
	width: 1520px;
	min-width: 310px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6);
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 18px;
}

/*Header*/

header {
	position: fixed;
	width: 1520px;
	height: 159px;
	border-bottom: 1px solid #14976a;
	background: #fff;
}

header img {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

header ul {
	float: right;
	margin-top: 10px;
}

header li {
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

header li:last-child {
	margin-right: 10px;
}

header li a,
header li a:visited {
	line-height: 24px;
	color: #8b8b8b;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.4s linear;
}

header li a:hover,
header li a:active,
header li a:focus {
	color: #18b17d;
}

header a {
	outline: none;
}

header li a.active {
	color: #18b17d;
}

.active:after {
	content: '';
	display: block;
	height: 2px;
	background: #18b17d;
}

.contacts {
	position: absolute;
	right: 0;
	bottom: 0;
}

.contacts p {
	padding-right: 10px;
	line-height: 20px;
	color: #303030;
	text-align: right;
	font-weight: bold;
	font-size: 18px;
}

@media screen and (max-width: 980px) {
	
	header ul {
		position: absolute;
		top: 0;
		right: 0;
	}

	header li {
		position: relative;
		float: right;
		clear: both;
	}

	header li:last-child {
		margin-right: 20px;
	}

	.active:after {
		content: '';
		position: absolute;
		top: 7px;
		left: -10px;
		width: 5px;
		height: 5px;
		background: #18b17d;
	}
}

@media screen and (max-width: 1519px) {
	body {
		width: 98%;
	}
	
	header {
		width: 98%;
	}
}

/*Content*/

.banner {
	padding-top: 160px;
	height: 299px;
	border-bottom: 1px solid #14976a;
	background: url(../img/marble_background.jpg);
}

h1, h2 {
	margin: 0 auto;
	text-align: center;
}

h1 {
	color: #303030;
	margin-top: 100px;
	font-size: 60px;
}

h2 {
	color: #5a5a5a;
	font-family: 'Georgia', serif;
	font-size: 30px;
	font-style: italic;
}

#products,
#materials {
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	background: #fff;
}

#products h1,
#materials h1,
#contacts h1 {
	flex: 1 100%;
	margin: 0 auto 10px;
	font-size: 28px;
	text-transform: uppercase;
}

#products h1:after,
#materials h1:after,
#contacts h1:after {
	content: '';
	display: block;
	margin: 10px auto;
	width: 200px;
	height: 2px;
	background: #303030;
}

#products div,
#materials div {
	float: left;
	width: 250px;
	height: 295px;
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid #14976a;
	-webkit-box-shadow: 0px 4px 15px 4px rgba(0,1,1,0.2);
	-moz-box-shadow: 0px 4px 15px 4px rgba(0,1,1,0.2);
	box-shadow: 0px 4px 15px 4px rgba(0,1,1,0.2);
}

#products p,
#materials p {
	display: table;
	width: 240px;
	height: 36px;
	padding: 2px 5px;
	text-align: center;
	font-weight: bold;
}

#products p > span,
#materials p > span {
	display: table-cell;
	vertical-align: middle;
}

#materials {
	border-top: 1px solid #e5e5e5; 
	background: #f3f3f3;
}

.small {
	display: block;
	font-size: 14px;
	font-weight: normal;
}

#contacts {
	padding: 20px;
	background: #fff;
}

.map {
	float: right;
	box-sizing: border-box;
	width: 50%;
	height: 400px;
	margin-top: 20px;
	border: 1px solid #14976a;
	-webkit-box-shadow: 0px 4px 15px 4px rgba(0,1,1,0.2);
	-moz-box-shadow: 0px 4px 15px 4px rgba(0,1,1,0.2);
	box-shadow: 0px 4px 15px 4px rgba(0,1,1,0.2);
}

.contacts__info {
	float: left;
	width: 50%;
}

#contacts p,
#contacts ul,
#contacts li {
	margin: 20px;
	line-height: 36px;
}

#contacts ul {
	list-style: disc;
}

/*Footer*/

footer {
	padding: 10px;
	border-top: 1px solid #e5e5e5; 
	background: #f3f3f3;
}

footer p {
	text-align: right;
	font-family: Arial;
	font-size: 12px;
	font-style: italic;
}