/*FONT*/

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('helveticaneuecyr-light-webfont.eot');
    src: url('helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-light-webfont.woff') format('woff'),
         url('helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*GENERAL PROPERTIES*/

html {
	height: 100%;
}

body {
	height: 100%;
	background: fixed url(../img/bg.jpg) center top ;
	background-size: cover;
	font-family: 'Helvetica Neue Light', Tahoma, Arial, sans-serif;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

/*HEADER*/

header {
	position: fixed;
	left: 0;
	right: 0;
	background: url(../img/header_bg.jpg) no-repeat;
	font-size: 14px; 
}

header ul {
	float: right;
	margin-right: 20px;
	line-height: 36px;
	color: white;
}

.nav li,
img {
	float: left;
}

.nav img {
	margin-right: 10px;
}

.nav a,
.nav a:visited {
	display: block;
	padding: 0 14px;
	color: #60b5ed;
	text-decoration: none;
}

.nav a:hover {
	color: white;
	background: #4eabda;
}


.flag a,
.flag a:visited {
	display: inline-block;
	padding: 0;
	color: white;
}

.flag a:hover {
	background: none;
	text-decoration: underline;
}

.flag {
	padding: 0 14px;
}

.flag:hover {
	line-height: 35px;
	padding: 0 13px;
	border-right: 1px solid #4299d2;
	border-left: 1px solid #4299d2;
	border-bottom: 1px solid #4299d2;
	border-radius: 1px;
	background: rgba(78,171,218,1);
	background: -moz-linear-gradient(top, rgba(78,171,218,1) 0%, rgba(46,121,196,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(78,171,218,1)), color-stop(100%, rgba(46,121,196,1)));
	background: -webkit-linear-gradient(top, rgba(78,171,218,1) 0%, rgba(46,121,196,1) 100%);
	background: -o-linear-gradient(top, rgba(78,171,218,1) 0%, rgba(46,121,196,1) 100%);
	background: -ms-linear-gradient(top, rgba(78,171,218,1) 0%, rgba(46,121,196,1) 100%);
	background: linear-gradient(to bottom, rgba(78,171,218,1) 0%, rgba(46,121,196,1) 100%);
}

.nav li:nth-child(6) {
	position: relative;
}

.nav li:nth-child(6):before {
	content: '';
	position: absolute;
	top: 2px;
	left: -1px;
	height: 32px;
	width: 1px;
	background: #56a2dc;
}

/*FORM*/

.content {
	display: table;
	margin: 0 auto;
	height: 100%;
}

.form {
	display: table-cell;
	vertical-align: middle;
	width: 560px;
}

.form_header {
	margin-bottom: 1px;
	line-height: 62px;
	color: white;
	background-color: rgba(0,0,0,0.4);
	font-size: 24px;
	text-align: center;
}

.form_body {
	padding: 36px 142px 22px;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
}

.facebook {
	position: relative;
	width: 276px;
	line-height: 35px;
	margin-bottom: 32px;

	background: rgba(59,87,152,1);
	background: -moz-linear-gradient(top, rgba(59,87,152,1) 0%, rgba(58,82,149,1) 25%, rgba(53,77,139,1) 50%, rgba(49,68,126,1) 74%, rgba(48,65,114,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(59,87,152,1)), color-stop(25%, rgba(58,82,149,1)), color-stop(50%, rgba(53,77,139,1)), color-stop(74%, rgba(49,68,126,1)), color-stop(100%, rgba(48,65,114,1)));
	background: -webkit-linear-gradient(top, rgba(59,87,152,1) 0%, rgba(58,82,149,1) 25%, rgba(53,77,139,1) 50%, rgba(49,68,126,1) 74%, rgba(48,65,114,1) 100%);
	background: -o-linear-gradient(top, rgba(59,87,152,1) 0%, rgba(58,82,149,1) 25%, rgba(53,77,139,1) 50%, rgba(49,68,126,1) 74%, rgba(48,65,114,1) 100%);
	background: -ms-linear-gradient(top, rgba(59,87,152,1) 0%, rgba(58,82,149,1) 25%, rgba(53,77,139,1) 50%, rgba(49,68,126,1) 74%, rgba(48,65,114,1) 100%);
	background: linear-gradient(to bottom, rgba(59,87,152,1) 0%, rgba(58,82,149,1) 25%, rgba(53,77,139,1) 50%, rgba(49,68,126,1) 74%, rgba(48,65,114,1) 100%);
	
	border-radius: 3px;

	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(117,138,183,1);
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(117,138,183,1);
	box-shadow: inset 1px 1px 1px 0px rgba(117,138,183,1);
}


.facebook img {
	float: left;
}


.facebook span:after {
	content: '';
	width: 1px;
	height: 35px;
	position: absolute;
	left: 37px;
	background: #1f3d71;
}

.facebook>a:after {
	content: '';
	background: url(../img/arrow.png) no-repeat;
	width: 13px;
	height: 14px;
	position: absolute;
	top: 12px;
	right: 15px;
	font-size: 8px;
}

.facebook a {
	display: block;
	color: #fbffff;
	font-weight: bold;
	text-decoration: none;
}

.facebook a span span {
	font-weight: normal;
}

.facebook a:hover {
	color: #4eabda;
}

p {
	color: #999999;
}

p:before,
p:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	border-top: 1px solid #666666;
	border-bottom: 1px solid black;
}