/*320px-479px wide screens*/

@media screen and (min-width: 320px) {

/*MAIN CONTENT*/

.mainContent {
    padding-top: 69px; 
    padding-bottom: 75px;
}

.blog {
	margin-left: 14%;
	margin-right: 6%;
}

.blog__article {
	height: 213px;
	padding: 27px 40px 32px 36px;
}

.blog__header {
	margin-top: -2px;
	margin-left: -1px;
}

.blog__paragraph {
	height: 166px;
	margin-top: 4px;
	margin-left: 2px;
}

.blog__footer {
    margin-top: 24px;
    margin-left: 37%;
}

.updates {
	margin-top: 44px;
	margin-left: 6%;
	margin-bottom: 128px;
}

.updates__post {
	margin-left: 22.7%;
	margin-right: 6%;
}

.updates__postName {
	height: 19px;
	line-height: 18px;
	overflow: hidden;
}

.updates__paragraph {
	height: 18px;
	overflow: hidden;
}

.sponsors {
	padding-top: 51px;

}

.sponsors__logo1 {
    margin-left: 19.8%;
    margin-bottom: 61px;
}

.sponsors__logo2 {
	float: right;
	margin-right: 19%;
	margin-bottom: 61px;
}

.sponsors__logo3 {
    margin-left: 22.2%;
    margin-bottom: 43px;
}

.sponsors__logo4 {
	float: right;
    margin-right: 21.7%;
    margin-bottom: 43px;
}

.sponsors__logo5 {
    margin-left: 13.3%;
}

.sponsors__logo6 {
	float: right;
    margin-right: 12.5%;
}

.footerContent {
	text-align: center;
	padding-bottom: 148px;
}

.footer__paragraph {
	margin-top: 41px;
}
}


/*480px-767px wide screens*/

@media screen and (min-width: 480px) {

/*HEADER*/

.headerContent {
	width: 100%;
	height: 478px;
	padding-top: 70px;
}

.logo {
	margin: 0 auto 25px;
}

.mainMenu {
	margin: 0 auto;
}

.mainMenu__item {
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
}

.mainMenu__item--active {
	position: relative;
	width: 35px;
	line-height: 48px;
 	text-shadow: 0px 0px 10px rgba(255,255,255,0.6);
}

.mainMenu__nestedMenu {
	position: absolute;
	top: -9999px;
	opacity: 0;
}

.mainMenu__item--active:hover .mainMenu__nestedMenu {
	top: 45px;
	left: -1px;
	opacity: 1;
	background: rgba(54,41,62,0.9);
	text-shadow: none;
	border-bottom: 1px solid #051116;
	border-left: 1px solid #051116;
	border-right: 1px solid #051116;
	border-radius: 0 0 8px 8px;
}

.mainMenu__item--active:hover .mainMenu__nestedMenu .mainMenu__item {
	width: 244px;
	border-top: 1px solid #503d58;
	border-bottom: 1px solid #36283e;
}

.mainMenu__item--active:hover {
	width: 244px;
	line-height: 46px;
	border-top: 1px solid #051116;
	border-left: 1px solid #051116;
	border-right: 1px solid #051116;
	border-bottom: 1px solid #36283e;
	border-radius: 8px 8px 0 0;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(109,80,122,1);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(109,80,122,1);
	box-shadow: inset 0px 1px 1px 0px rgba(109,80,122,1);
	background: rgba(54,41,62,0.9);
}

.mainMenu__nestedMenu .mainMenu__item:last-child {
	border-radius: 0 0 8px 8px;
}

.mainMenu__item--active:hover a {
	display: block;
}

.mainMenu__item--active:hover .mainMenu__link--underline:after {
    content: '';
    position: absolute;
    top: 39px;
    left: 99px;
    display: block;
    width: 47px;
    height: 2px;
    background: #edbfff;    
}

.mainMenu__item--active:hover .mainMenu__nestedMenu .mainMenu__item:hover {
	position: relative;
	background: rgba(43,34,49,0.6);
}

.mainMenu__item--active:hover .mainMenu__nestedMenu .mainMenu__item:hover:after {
	content: '';
	position: absolute;
	width: 244px;
	height: 2px;
	left: 0;
	top: 38px;
	background: #edbfff;
}

.mainMenu__item--active:hover .mainMenu__nestedMenu .mainMenu__item:last-child:hover:after {
	content: '';
	position: absolute;
	width: 240px;
	height: 2px;
	left: 2px;
	top: 38px;
	border-radius: 0 0 8px 8px;
	background: #edbfff;
}
}