/*FONTS*/

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/2206-webfont.eot');
    src: url('../fonts/2206-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2206-webfont.woff2') format('woff2'),
         url('../fonts/2206-webfont.woff') format('woff'),
         url('../fonts/2206-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


/*GENERAL*/

body {
    min-width: 320px;
	font-family: 'League Gothic', 'Open Sans', 'Arial', sans-serif;
}

header {
    background: url(../img/bg_header.jpg) no-repeat;
    background-size: cover;
}

main {
    background: #f9f9f9;
}

footer {
    background: url(../img/bg_footer.jpg);
    background-size: cover;
}

.headerContent,
.newsContent,
.mainContent,
.footerContent {
    width: 100%;
}

/*HEADER*/

.headerContent {
    width: 100%;
    height: 446px;
    padding-top: 70px;
}

.logo {
    display: block;
    width: 151px;
    height: 37px;
    margin: 0 auto;
    background: url(../img/logo.png) no-repeat;
}

.logo__h1 {
    text-indent: -9999px;
}

/*menu*/

.mainMenu {
    margin-top: 38px;
}

.mainMenu__item {
    position: relative;
    width: 244px;
    margin: 0 auto;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.6);
    text-align: center;
}

.mainMenu__link,
.nestedMenu__link {
    position: relative;
    color: white;
    text-decoration: none;
}

.mainMenu__link:after {
    content: '';
    position: absolute;
    top: 31px;
    left: -5px;
    display: block;
    width: 47px;
    height: 2px;
    background: #edbfff;    
}

.nestedMenu {
    position: absolute;
    z-index: 999;
    top: -999px;
    border: 1px solid #051116;
    border-radius: 8px;
    background-color: rgb(54,41,62);
    background-color: rgba(54,41,62,0.9);
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(109,80,122,1);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(109,80,122,1);
    box-shadow: inset 0px 1px 1px 0px rgba(109,80,122,1);
    opacity: 0;
    text-shadow: none;
}

.mainMenu__item:hover {
    visibility: hidden;
}

.mainMenu__item:hover .nestedMenu {
    top: -14px;
    left: 50%;
    margin-left: -122px;
    visibility: visible;
    opacity: 1;
}

.nestedMenu__item {
     width: 244px;
}

.nestedMenu__link {
    display: block;
    padding: 7px 0 9px;
    border-top: 1px solid rgba(82,63,90,0.9);
    border-bottom: 1px solid rgba(54,40,62,0.9);
}

.nestedMenu__link.nestedMenu__link--active {
    position: relative;
    padding: 13px 0 10px;
    border-top: none;
    border-radius: 8px 8px 0 0;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.6);
}

.nestedMenu__link.nestedMenu__link--active:after,
.nestedMenu__link.nestedMenu__link--active:hover:after {
    content: '';
    position: absolute;
    left: 98px;
    bottom: 4px;
    display: block;
    width: 47px;
    height: 2px;
    background: #edbfff; 
}

.nestedMenu__link--last {
    border-bottom: none;
    border-radius: 0 0 8px 8px;
}

.nestedMenu__link:hover:not(.nestedMenu__link--active) {
    background: rgba(45,36,51,0.7);
}

.nestedMenu__link:hover:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    display: block;
    width: 244px;
    height: 2px;
    background: #edbfff;
}

.nestedMenu__link.nestedMenu__link--last:hover:after {
    left: 2px;
    width: 240px;
    border-radius: 0 0 8px 8px;
}

.nestedMenu__link:active,
.nestedMenu__link:focus {
    outline: none;
}

/*slider*/

.slider {
    position: relative;
    width: 100%;
    height: 58px;
    margin-top: 127px;
}

.sliderContent {
    text-align: center;
}

.slider__arrowBackwards,
.slider__arrowForward {
    position: absolute;
    z-index: 999;
    top: 12px;
    cursor: pointer;
}

.slider__arrowForward {
    right: 0;
}

.sliderContent__header {
    position: relative;
    margin-left: -8px;
    color: #fefefe;
    font-size: 36px;
    text-shadow: 0 2px 2px rgba(0,0,0,0.7);
}

.sliderContent__paragraph {
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -98px;
    width: 205px;
    height: 18px;
    color: #edbfff;
    font-size: 18px;
    text-indent: 3px;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.7);
    overflow: hidden;
}

.sliderFooter {
    width: 94px;
    line-height: 0;
    margin: 99px auto 98px;
}

.sliderFooter__item {
    position: relative;
    float: left;
    margin-left: 5px;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background-color: rgb(105,105,105);
    background-color: rgba(105,105,105,0.8);
    cursor: pointer;
}

.sliderFooter__item:first-child {
    margin-left: 11px;
}

.sliderFooter__item--active:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background-color: rgb(255,255,255);
    background-image: -moz-linear-gradient(left, rgba(212,212,212,1) 0%, rgba(255,255,255,1) 100%);
    background-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,212,212,1)), color-stop(100%, rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(left, rgba(212,212,212,1) 0%, rgba(255,255,255,1) 100%);
    background-image: -o-linear-gradient(left, rgba(212,212,212,1) 0%, rgba(255,255,255,1) 100%);
    background-image: -ms-linear-gradient(left, rgba(212,212,212,1) 0%, rgba(255,255,255,1) 100%);
    background-image: linear-gradient(to right, rgba(212,212,212,1) 0%, rgba(255,255,255,1) 100%);
}


/*NEWS*/

.news {
    position: relative;
    border-top: 1px solid #33253a;
    border-bottom: 1px solid white;
    background-color: rgba(116,80,131);
    background-image: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background-image: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
    background-image: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background-image: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    background-image: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
}

.news:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #21333b;
    border-bottom: 1px solid #12191f;
}

.newsArticle {
    position: relative;
    margin-top: 70px;
    margin-left: 26%;   
    margin-right: 10%;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(15, 21, 24, 1);
}

.newsArticle__header {
    font-size: 24px;
}

.newsArticle__paragraph {
    height: 70px;
    line-height: 24px;
    margin-top: 3px;
    margin-left: 1px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.1px;
    overflow: hidden;
}

.newsArticle__link {
    position: absolute;
    bottom: -35px;
    right: -3.7%;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.newsArticle__link:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); 
}

/*pixel adjustment*/

.newsArticle:nth-child(2) {
    margin-top: 60px;
}

.newsArticle:last-child {
    margin-top: 76px;
    margin-bottom: 101px;
}








































/*MAIN CONTENT*/

.blog__article {
    position: relative;
    background: white;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
}

.blog__article:before {
    content: '';
    position: absolute;
    top: 18px;
    left: -24px;
    width: 49px;
    height: 49px;
    background: url(../img/blogger.png) no-repeat;
}

.blog__header {
    color: #454545;
    font-size: 24px;
    text-transform: uppercase;
}

.blog__subheader {
    display: block;
    color: #edbfff;
}

.blog__paragraph {
    overflow: hidden;
    line-height: 24px;
    color: #454545;
    font-family: 'Open Sans', sans-serif;
}

.blog__navigation {
    display: inline-block;
    position: relative;
    margin-left: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 100%;
    background: white;
    cursor: pointer;
}

.blog__navigation--active:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 12px;
    height: 12px;
    border: 1px solid #454545;
    border-radius: 100%;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.5);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.5);
    box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.5);
    background: rgba(106,106,106,1);
    background: -moz-linear-gradient(top, rgba(106,106,106,1) 0%, rgba(69,69,69,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(106,106,106,1)), color-stop(100%, rgba(69,69,69,1)));
    background: -webkit-linear-gradient(top, rgba(106,106,106,1) 0%, rgba(69,69,69,1) 100%);
    background: -o-linear-gradient(top, rgba(106,106,106,1) 0%, rgba(69,69,69,1) 100%);
    background: -ms-linear-gradient(top, rgba(106,106,106,1) 0%, rgba(69,69,69,1) 100%);
    background: linear-gradient(to bottom, rgba(106,106,106,1) 0%, rgba(69,69,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a6a6a', endColorstr='#454545', GradientType=0 );
}


.updates {
    position: relative;
}

.updates__header {
    color: #454545;
    font-size: 30px;
    text-transform: uppercase;
}

.updates__post {
    position: relative;
    margin-top: 20px;
    margin-bottom: 23px;
}

.updates__post:before {
    content: '';
    position: absolute;
    top: -4px;
    left: -66px;
    width: 49px;
    height: 49px;
}

.updates__post--picture_1:before {
    background: url(../img/first_post.png) no-repeat;
}

.updates__post--picture_2:before {
    background: url(../img/second_post.png) no-repeat;
}

.updates__post--picture_3:before {
    background: url(../img/third_post.png) no-repeat;
}

.updates__postName {
    color: #454545;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 16px;
}

.updates__paragraph {
    margin-top: 5px;
    margin-left: -1px;
    color: #454545;
    font-family: 'Open Sans';
    font-size: 16px;
    letter-spacing: -0.1px;
}

.updates__post--picture_2 {       /*for pixel perfect only*/
    margin-bottom: 29px;
}

.updates__link {
    display: block;
    position: absolute;
    right: 24px;
    bottom: -39px;
    color: #454545;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.updates__link:hover {
    color: rgb(237, 191, 255); 
}


.sponsors {
    border-top: 1px solid #fefefe;
    -webkit-box-shadow: 0px -1px 0px 0px rgba(230,230,230,1);
    -moz-box-shadow: 0px -1px 0px 0px rgba(230,230,230,1);
    box-shadow: 0px -1px 0px 0px rgba(230,230,230,1);
}

.sponsors__item {
    float: left;
}

.sponsors__logo1 {
    width: 69px;
    height: 64px;
}

.sponsors__logo2 {
    width: 72px;
    height: 64px;
}

.sponsors__logo3 {
    width: 65px;
    height: 65px;
}

.sponsors__logo4 {
    width: 50px;
    height: 65px;
}

.sponsors__logo5 {
    width: 103px;
    height: 61px;
}

.sponsors__logo6 {
    width: 78px;
    height: 61px;
}

.footerContent {
    border-top: 1px solid #fefefe;
    -webkit-box-shadow: inset 0px 9px 9px -9px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 9px 9px -9px rgba(0,0,0,1);
    box-shadow: inset 0px 9px 9px -9px rgba(0,0,0,1);
}

.footer__paragraph {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px rgba(15, 21, 24, 1);
}

.footer__boldText {
    font-weight: bold;
}