body {
background: url(../img/bg.jpg) no-repeat;
	font-family: 'Tahoma', serif;

}

.shadow_box {
	width: 1000px;
	margin: 0 auto;
	background: white;
	-webkit-box-shadow: 1px -3px 3px 3px gray;
	-moz-box-shadow: 1px -3px 3px 3px gray;
	box-shadow: 0px -3px 3px 3px gray;
}

/*HEADER*/

header {
	position: relative;
	margin: 0 auto;
	padding: 9px 32px 0 29px;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

header p {
	float: right;
	line-height: 22px;
	color: #128aa7;
	font-size: 12px;
}

header p span {
	display: block;
	line-height: 15px;
}

.countries {
	position: absolute;
	right: 32px;
	bottom: 8px;

}

.countries a,
.countries a:visited {
	display: inline-block;
	width: 42px;
	height: 57px;
	margin-right: 5px;
	line-height: 10px;
	text-align: center;
	color: #128aa7;
	font-size: 10px;
}

.countries a:nth-child(5) {
	width: 53px;
	margin-right: 3px;
}

.countries a:last-child {
	width: 50px;
	margin: 0;
}

.countries a:hover,
.countries a:active,
.countries a:focus {
	color: #0e86d0;
	text-decoration: none;
}

/*MENU*/

.menu {
	width: 1000px;
	margin: 0 auto;
	padding-top: 237px;
	background: url(../img/foto.jpg) no-repeat;
}


/*FOOTER*/

