body {
	background: url(../img/bg.jpg) repeat-x #0c739f;
	font-family: 'Tahoma', serif;

}

.shadow_box {
	width: 1000px;
	margin: 0 auto;
	background: white;
	-webkit-box-shadow: 1px 3px 3px 3px black;
	-moz-box-shadow: 1px 1px 3px 1px black;
	box-shadow: 0px 1px 5px 1px black;
}


/*HEADER*/

header {
	position: relative;
	margin: 0 auto;
	padding: 9px 32px 0 29px;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.img {
	float: left;
	width: 283px;
}

.contacts {
	float: right;
}

header p {
	float: right;
	line-height: 22px;
	color: #128aa7;
	font-size: 12px;
}

header p span {
	display: block;
	line-height: 15px;
}

.countries {
	clear: right;
	float: right;
	margin-top: 35px;
}

.countries a,
.countries a:visited {
	display: inline-block;
	margin-right: 5px;
	line-height: 10px;
	text-align: center;
	color: #128aa7;
	font-size: 10px;
}

.countries a span {
	display: block;
}

.countries a:hover,
.countries a:active,
.countries a:focus {
	color: #0e86d0;
	text-decoration: none;
}


/*MENU*/

.foto {
	width: 1000px;
	height: 237px;
}

ul.navigation {	
	position: relative;
	z-index: 1;
	line-height: 28px;
	border-top: 1px solid #cacbcb;
	border-bottom: 1px solid black;
	background: #323232;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(79,79,80,1);
	-moz-box-shadow: 0px 1px 4px 0px rgba(79,79,80,1);
	box-shadow: 0px 1px 4px 0px rgba(79,79,80,1);
}

.navigation>li{
	float: left;
	margin-left: 9px; 
	}

.navigation>li:first-child {
	margin-left: 50px;
}


.menu li span {
	font-size: 8px;
}

.navigation a,
.navigation a:visited {
	display: block;
	padding: 0 43px 0 10px;
	color: white;
	font-size: 14px;
	text-decoration: none;
}

.navigation a:hover {
	color: #0e86d0;
	text-decoration: none;
}

ul.navigation ul {
	position: absolute;
	top: -9999px;
	background: #323232;
	border-top: 1px solid black;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
	opacity:0; 
	-webkit-transition:0.25s linear opacity;
}

ul.navigation ul li {
	float: none;
}

ul.navigation li:hover ul{
	position: absolute;
	top: 30px;
	opacity: 1;
}	

ul.navigation li ul a,
ul.navigation li ul a:visited {
	display: block;
}

.navigatin a:active,
.navigation a:focus {
	color: white;
	text-decoration: none;
}


/*CONTENT*/

.columns {
	overflow: hidden;
	border-right: 1px solid #c7cacf;
	border-left: 1px solid #c7cacf;
}

.right_bg {
	width: 100%;
	float: left;
	background: #edeef0;
}

.center_bg {
	width: 100%;
	float: left;
	position: relative;
	right: 22%;
	background: white;
	border-right: 1px solid #c7cacf;
}

.left_bg {
	width: 100%;
	float: left;
	position: relative;
	right: 56%;
	background: #edeef0;
	border-right: 1px solid #c7cacf;
}

.left_content {
	width: 22%;
	float: left;
	left: 78%;
	position: relative;
	box-sizing: border-box;
	padding: 12px 24px 12px 15px;
	overflow: hidden;
}

.center_content {
	width: 56%;
	float: left;
	left: 78%;
	position: relative;
	border-bottom: 1px solid transparent;
	overflow: hidden;
}

.right_content {
	width: 22%;
	float: left;
	left: 78%;
	box-sizing: border-box;
	padding: 12px 24px 12px 15px;
	position: relative;
	overflow: hidden;
}


h1 {
	line-height: 1.5;
	text-align: center;
	color: #424c43;
	font-size: 18px;
	font-weight: bold;
}

.columns p {
	line-height: 24px;
	color: #424c43;
	font-size: 14px;
}


/*FOOTER*/

footer {
	width: 1000px;
	margin: 0 auto;
}

p {
	line-height: 24px;
	text-align: center;
	color: white;
	font-size: 12px;
}