body {
	background: -moz-radial-gradient(center, ellipse cover, #181818 0%, #000000 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #181818), color-stop(100%, #000000)); /* safari4+,chrome */
    background: -webkit-radial-gradient(center, ellipse cover, #181818 0%, #000000 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, #181818 0%, #000000 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, #181818 0%, #000000 100%); /* ie10+ */
    background: radial-gradient(ellipse closest-side at center, #181818 0%, #000000 100%); /* w3c */ 
}

.body {
	width: 960px;
	margin: 0 auto;
	background: url(../img/bg.jpg) no-repeat;
}

/*HEADER*/

header {
	padding: 57px 72px 0 70px;
}

img {
	float: left;
}

header p {
	float: right;
	margin-top: 57px;
	line-height: 15px;
	color:#e6e6e6;
	font-family: 'Tahoma', serif;
	font-size: 10px;
}

header p span {
	display: block;
	line-height: 10px;
	font-size: 8px;
}

/*CONTENT*/

.content {
	padding: 0 72px 0 70px;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.content img {
	vertical-align: bottom;
}


.content a,
a:visited {
	display: inline-block;
	width: 270px;
	line-height: 10px;
	text-align: center;
	color: #e6e6e6;
	text-decoration: none;
	font-family: 'Tahoma', serif;
	font-size: 15px;

}

.content a:hover {
	color: #e6e6e6;
	font-weight: bold;
	text-decoration: none;
}

.content a:active,
.content a:focus {
	color: #e6e6e6;
	text-decoration: none;
}

.content a:nth-child(4) {
	margin-top: 50px;
}

/*FOOTER*/

footer {
	margin: 159px 0 30px;

	text-align: center;
	color: #e6e6e6;
	font-family: 'Tahoma', serif;
	font-size: 10px;
}